
<h1>My contacts</h1>
<ul>
  <li><h2>Мiсто Ужгород,вул. Корятовича 1</h2></li>
  <li><h2>+ 3802231247</h2></li>
  <li><h3>Email:</h3></li>
  	<button type="button" class="btn btn-default btn-md"><a href="http://www.hotel-oldcontinent.com/uk">Email link</a></button>
</ul>